$w: 1170px;
$m: 0 auto;
$p: 0 115px;
$green: #00897b;

@font-face {
	font-family: "Open Sans";
	src: url("../fonts/opensans-regular.woff2") format("woff2"),
	     url("../fonts/opensans-regular.woff") format("woff");
}

@font-face {
	font-family: "Open Sans Light";
	src: url("../fonts/opensans-light.woff2") format("woff2"),
	     url("../fonts/opensans-light.woff") format("woff");
}

@font-face {
	font-family: "Open Sans Bold";
	src: url("../fonts/opensans-bold.woff2") format("woff2"),
	     url("../fonts/opensans-bold.woff") format("woff");
}

@font-face {
	font-family: "Open Sans Semibold";
	src: url("../fonts/opensans-semibold.woff2") format("woff2"),
	     url("../fonts/opensans-semibold.woff") format("woff");
}

@font-face {
	font-family: "Roboto Bold";
	src: url("../fonts/roboto-bold.woff2") format("woff2"),
	     url("../fonts/roboto-bold.woff") format("woff");
}

*, *::before, *::after {
	box-sizing: border-box;
}

* {
	padding: 0;
	margin: 0;
}

body {
	width: $w;
	margin: $m;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	line-height: 22px;
	color: #212121;
	overflow-x: hidden;
	text-align: center;
}

img {
	max-width: 100%; 
	height: auto;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: #212121;
}

.page-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	&__logo {
		font-family: 'Open Sans Bold';
		font-size: 25px;
		text-transform: capitalize;
		padding: 50px 0;
	}

	&__list {
		width: 702px;
		display: flex;
		justify-content: space-between;
	}

	&__item {
		font-family: 'Open Sans Semibold';
		font-size: 20px;
		letter-spacing: 1px;
	}
}

.front,
.services,
.plan,
.blog,
.contact{
	width: 100vw;
	margin: 0 calc(-50vw + 50%);
	padding: $p;
}

.front {
	background: #000 url('../img/bg.png') 0 -76px no-repeat;
	background-size: cover;
	padding-top: 194px;
	padding-bottom: 70px;
	color: #fff;
	&__title {
		font-family: 'Open Sans Semibold';
		font-size: 60px;
	}

	&__text {
		font-size: 22px;
		margin-top: 48px;
	}

	&__button {
		margin-top: 108px;
		border-width: 3px;
		&--our {
			margin-left: 21px;
		}
	}

	&__arrow {
		font-size: 25px;
		color: #fff;
		display: block;
		margin-top: 92px;
	}
}

.button {
	font-family: 'Roboto Bold';
	font-size: 20px;
	color: #fff;
	text-transform: uppercase;
	background-color: transparent;
	border: 2px solid #f8f8f8;
	padding: 21px 39px;
	display: inline-block;
	letter-spacing: 1px;
	&--active {
		border: none;
		background-color: $green;
		padding: 24px 52px;
	}
}

.section {
	&-title {
		font-family: 'Open Sans Bold';
		font-size: 30px;
		letter-spacing: 1.5px;
		text-transform: capitalize;
	}

	&-text {
		letter-spacing: 0.75px;
		width: 620px;
		margin: $m;
		margin-top: 32px;
	}
}

.about {
	padding: 125px 0;
	&__list {
		display: flex;
		justify-content: space-between;
		margin-top: 122px;
	}

	&__item {
		padding-top: 102px;
		position: relative;
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			background-repeat: no-repeat;
		}

		&--icon::before {
			width: 62px;
			height: 62px;
			background-image: url('../img/internet.png');
		}

		&--page::before {
			width: 70px;
			height: 60px;
			background-image: url('../img/transfer.png');
		}

		&--full::before {
			width: 57px;
			height: 63px;
			background-image: url('../img/head.png');
		}
	}

	&__title {
		font-family: 'Open Sans Semibold';
		font-size: 20px;
		letter-spacing: 1px;
		text-transform: capitalize;
	}

	&__text {
		width: 235px;
	}
}

.services {
	padding-top: 174px;
	padding-bottom: 90px;
	background-color: #e4fdf9;
	&__list {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-top: 112px;
	}

	&__item {
		width: 370px;
		background-color: #fff;
		padding-top: 58px;
		padding-bottom: 49px;
		margin-bottom: 31px;
		&:hover {
			background-color: $green;
			box-shadow: 0 10px 20px rgba(0, 0, 0, 0.35)
			
		}
	}

	&__item:hover * {
		color: #fff;
	}
	
	&__item:hover .services__button {
		border-color: #fff;
		cursor: url('../img/cursor.png'), auto;
	}
	
	&__item:hover .services__title::before {
		background-image: url('../img/smartphone.png');
	}

	&__title {
		font-family: 'Open Sans Semibold';
		font-size: 20px;
		letter-spacing: 1px;
		padding-top: 100px;
		position: relative;
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 50%;
			width: 56px;
			height: 62px;
			background: url('../img/smartphone_copy.png') no-repeat;
			transform: translateX(-50%);
		}
	}

	&__text {
		line-height: 25px;
		letter-spacing: 0.75px;
		margin: 20px auto 40px;
		width: 276px;
	}

	&__button {
		font-family: 'Open Sans Semibold';
		color: #212121;
		border-color: #212121;
		padding: 15px 11px;
	}
}
